---
layout: page
title: "법조항 모음"
permalink: code-index.html
order: 001
---
<div class="introduction">

<p>여기에서는 법 조항을 번역 및 정리하고 있습니다. 제가 시간 날 때, 업무와 관련 없는 -- 주로 여기 작성하는 포스트에 관련된 -- 조항을 중심으로 정리하고 있습니다. 그러므로, 관련조항 전체가 다 있지는 않을 수 있습니다. 특히 찾으시는 조항이 없을 수 있습니다. </p>
</div>

<hr>

<div class="toc">
  <h2>표준 변호사 윤리법 (Model Rules of Professional Responsibility)</h2>
  <ul class="post">
    {% for item in site.codes %}
    {% if item.categories contains 'mpre' %}
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a> -   <em>{{ item.date | date: "%Y년 %m월 %-d일" }}</em>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  <p><a href="codes/mpre.html">전문 보기</a></p>
  <h2>워싱턴 변호사 윤리법 (Rules of Professional Responsibility)</h2>
  <ul class="post">
    {% for item in site.codes %}
    {% if item.categories contains 'wsbarpc' %}
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a> -   <em>{{ item.date | date: "%Y년 %m월 %-d일" }}</em>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  <p><a href="codes/wsba-rpc.html">전문 보기</a></p>

</div>
