---
layout: default
title: "hyunkim.lawyer"
color-scheme: cyan
kakao: true
---
<div class="introduction">
  <h1>hyunkim.lawyer</h1>

<p>미국 변호사입니다. 뭐든 다 잘 합니다. 그렇지만, 아무거나 다 하지는 않습니다.</p>
<p>이 블로그에는 댓글이 없습니다. 연락은 <strong>hyunkim [at] hyunkim.lawyer</strong>으로 이메일을 보내거나 카카오톡으로 연락 부탁 드립니다. 다음 링크를 따라 가시면 됩니다.</p>

<!-- <strong>중요! 아직은 아래 버튼은 작동하지 않습니다. 사용하려는 홈페이지를 등록해야 하므로, 등록하고 될 때까지 해 보려는 것입니다. 제대로 작동하면, 이 경고를 없애겠습니다.</strong>

{% include kakao.html %} -->

<p>맨 위의 글은 제 모토입니다. <strong>"오답은 있지만, 정답은 없다. 언제나 더 나은 답이 있다."</strong></p>
<p>블로그를 한지는 오래 되었지만 (2001년부터 했던 것으로 기억합니다), 프로페셔널 블로그는 이번이 처음입니다. 2016년부터인가 해 보려고 마음은 먹고 있었지만, 시간을 내기가 쉽지 않습니다. 이 블로그를 하는 이유는 <a href="/blog/2018/07/why-professional-blogging.html">왜 프로페셔널 블로깅을 하는가</a>를 참고 바랍니다. </p>
<p>제일 큰 관심사는 인공지능, 클라우드 컴퓨팅, 가상법률사무소 (VLO), 페이퍼리스 (paperless), 모두 법률산업을 머리끝부터 발끝까지 바꾸어놓을 이야기들입니다. 사실 오래전부터 그랬었죠. 다만, 법률산업의 기계화는 - 이제 더 이상은 - 피할 수 없는 대세가 되었습니다. 저는 (내심) 환영하지만, 가능한 한 미루고 싶은 변호사가 더 많을 것이라 확신합니다.  법률산업만큼 보수적인 산업은 없으니까요. 또 그래야 하기도 하구요. 다만, 우리가 놓치지 말아야 할 것이 있습니다.  결국 혁신이 성공하느냐의 시금석은 궁극적으로 소비자에게, <strong>고객에게 그 이득이 돌아가느냐</strong> 하는 것입니다.</p>
<p>기계화라니? 인공지능만이 법률산업을 바꾸는 것은 아닙니다. 클라우드 컴퓨팅, 가상법률사무소 (VLO) 및 전반적인 정보통신산업의 발달과 우리가 손에 쥐고 있는 아이폰까지, 모든 것들이 법률산업에 도전하고 있습니다. 이 도전에 직면하고, 대응하고, 적극적으로 노력하는 과정을 이 페이지에 기록해 보고자 합니다.</p>
<p>업무에 참고할 수 있는 자료를 만들어 나누어 드리는 곳은 <a href="/files-index.html">자료집</a>에서 확인하실 수 있습니다.</p>
<p>또 일반적인 이야기들도 하려 합니다.  법 이야기, 과학과 기술 이야기, 영어 이야기와 독서 이야기, 그리고 내가 일하는 방식 이야기 등으로 꾸며 보려 합니다.  마치 책을 쓰듯이 이 공간을 채워 나가 보려 합니다. 현재는 <a href="/categories/lawyering.html">일 못하는 변호사</a> 시리즈를 연재하고 있습니다. 또 <a href="/categories/stuff.html">내가 좋아하는 물건 이야기</a>도, 그리고 가끔씩 <a href="/categories/news.html">단상</a>도 정리해 봅니다.</p>
</div>

<hr>
<div class="toc">
  <h2>블로그 글모음</h2>
  <p>아래에는 최근글 10개를 보실 수 있습니다.  전체 목록은 <a href="/blog-index.html">블로그 글 목록</a>을 보십시오.</p>
  <ul class="post">
    {% for item in site.posts limit:10 %}
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a> -   <em>{{ item.date | date: "%Y년 %-m월 %-d일" }}</em>
    </li>
    {% endfor %}
  </ul>
</div>

<hr>

<!-- <div class="toc">
  <h2>내가 일하는 방법</h2>
  <ul class="post">
  {% assign sorted = site.how | sort: 'order'  %} 
  {% for item in sorted %}
  <li class="post-title">
    <a href="{{ site.baseurl }}{{ item.url }}">
      {{ item.title }}
  </li>
  {% endfor %}
  </ul>
</div> -->



