<hr />
<h1 class="post-title">참고한 책</h1>
<br />
{% for bk in page.bibliography %}
{% assign book = site.data.books | where: "id", bk | first %}

<p><a name="{{ book.id }}"></a>{% if book.translation %}
<strong>{{ book.title }},</strong> by <em>{{ book.author }}</em> ({{ book.publisher }}{{ book.year }}) [한글 번역: {{ book.translation }}, {{ book.translator }} 번역 ({{ book.trpublisher }}, {{ book.tryear }})] &mdash; [<a href="http://www.aladin.co.kr/Catalog/Book.asp?ISBN={{ book.trisbn }}" target="_blank">알라딘에서 보기</a>]
{% else %}<strong>{{ book.title }},</strong> <em>{{ book.author }} 저{% if book.translator %}, {{ book.translator }} 번역 {% endif %}</em> ({{ book.publisher }}{{ book.year }}) &mdash; [<a href="http://www.aladin.co.kr/Catalog/Book.asp?ISBN={{ book.trisbn }}" target="_blank">알라딘에서 보기</a>]{% endif %}</p>
{% endfor %}

<!-- Older, sort of works but clumsy: {% assign book = site.data.books[{{ include.id }} %}

<strong>{{ book[0]["title"] }},</strong> by <em>{{ book[0]["author"] }}</em> ({{ book[0]["publisher"] }}{{ book[0]["year"] }}) [한글 번역: {{ book[0]["translation"] }} ({{ book[0]["trpublisher"] }}, {{ book[0]["tryear"] }}) -- <a href="http://www.aladin.co.kr/Catalog/Book.asp?ISBN={{ book[0]["trisbn"] }}" target="_blank">알라딘에서 보기</a>] -->
