{% assign book = site.data.books | where: "id", include.id | first %}
<strong>{{ book.title }},</strong> by <em>{{ book.author }}</em> ({{ book.publisher }}{{ book.year }}) [한글 번역: {{ book.translation }} ({{ book.trpublisher }}, {{ book.tryear] }}) -- <a href="http://www.aladin.co.kr/Catalog/Book.asp?ISBN={{ book.trisbn }}" target="_blank">알라딘에서 보기</a>]

<!-- Older, sort of works but clumsy: {% assign book = site.data.books[{{ include.id }} %}

<strong>{{ book[0]["title"] }},</strong> by <em>{{ book[0]["author"] }}</em> ({{ book[0]["publisher"] }}{{ book[0]["year"] }}) [한글 번역: {{ book[0]["translation"] }} ({{ book[0]["trpublisher"] }}, {{ book[0]["tryear"] }}) -- <a href="http://www.aladin.co.kr/Catalog/Book.asp?ISBN={{ book[0]["trisbn"] }}" target="_blank">알라딘에서 보기</a>] -->
