<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v6.0'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ko_KR/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="101285871488095"
  logged_in_greeting="반갑습니다. 하고싶은 말이 있으시면..."
  logged_out_greeting="로그인하시면, 말을 걸 수 있습니다."">
</div>

<!-- <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '131749164881176',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v6.0'
      });
    };
  </script>
  <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script> -->