<!-- _includes/image.html -->
<!-- <figure> -->
<hr /> 
<div class="polaroid">
<!-- <img src='https://hyunkimlawyerimages.s3.ap-northeast-2.amazonaws.com/{{ include.url }}' alt='{{ include.alt }}' style="width:100%"> -->
<img src='http://images.hyunkim.lawyer/{{ include.url }}' alt='{{ include.alt }}' style="width:100%">
<!-- <figcaption style="text-align: center"><strong>그림: {{ include.description }}</strong></figcaption>  -->
<div class="imgcontainer"><p> {{ include.description }}</p></div>
</div>
<hr />
<!-- </figure> -->
