/* for kakao */ 

#kakao-talk-channel-chat-button{
    display: inline;
    width: 120px;
/*    height: 100px; */
    margin: 0px;
    padding: 0px;
    position: fixed; 
    z-index: 999; 
    right: 100px;
    bottom: 70px; 
}
/* style images */

#kakao-wrap{
    position: fixed;
}
div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 0 auto;
}
  
img {width: 100%} 
  
div.imgcontainer {
    text-align: center;
    padding: 10px 20px;
}