---
layout: page
title: "할 일들"
permalink: /categories/gtd.html
order: 005
---

<div class="introduction">

<p>특히 이 사이트의 관리와 관련하여 할 일의 목록을 정리해 둡니다. 아마 대부분의 사람에게는 (저 말고는) 상관 없는 내용일 가능성이 농후합니다.</p>
</div>
    
    <hr>
    
    <div class="toc">
      <h2>할 일들</h2>
      <ul class="post">
        {% for item in site.posts %}
        {% if item.categories contains 'gtd' %}
        <li class="post-title">
          <a href="{{ site.baseurl }}{{ item.url }}">
            {{ item.title }}
          </a> - {{ item.date | date: "%Y년 %-m월 %-d일" }}
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    
    <hr>
    
    