---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div align="right"><em>{{ page.date | date: "%Y년%-m월%d일 작성" }}</em></div>
  {{ content }}
</div>

<hr />

<h2>Disclaimer (경고)</h2>
<p>첫째, 여기에서 내가 한 일 또는 법에 대해서 이야기해도 비슷한 일을 하면 비슷한 결과가 나올 것이라는 뜻은 아닙니다. 둘째, 여기에서 내가 어떤 법이나 분야에 대해서 이야기했다고 하더라도, 내가 그 분야의 전문가이거나 자격증을 가지고 있거나 인증기관으로부터 인증을 받았다는 뜻은 아닙니다. 셋째, 여기에서 하는 이야기는 법률자문이 아닙니다.</p>
<p><strong>이 경고는 법에 대해 이야기하는 모든 페이지에 나타납니다.</strong></p>
<h2>License</h2>
<p>다른 곳에 글을 복사해 가는 것은 허용합니다만, 반드시 출처를 표시해 주시기 바랍니다. 글의 일부만 복사해갈 경우, 글의 전체 맥락에 따라 내가 의도하는 바가 잘못 표현될 수 있으므로, 반드시 링크 등을 포함시켜 독자가 직접 의도와 맥락을 확인할 수 있도록 해 주시기 바랍니다. 복사할 때에는 반드시 Disclaimer와 License를 포함시켜 주시기 바랍니다.</p>
