---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div align="right"><em>{{ page.date | date: "%Y년 %-m월 %d일 작성" }}</em></div>
<br /><br />
  {{ content }}
</div>
<br /><br />
<hr />

<h2>Disclaimer (경고)</h2>
<p>저는 저널리스트가 아닙니다. 아무 것도 모르는 일개 변호사일 뿐입니다. 팩트 체크는 하지 않습니다. 진짜로 잘 아는 것은 (비밀유지 의무 때문에) 여기 적지 않습니다. 뉴스라기보다는 단상입니다.</p>
<h2>License (사용)</h2>
<p>개인적 목적으로 다른 곳에 글을 복사해 가는 것은 허용합니다만, 반드시 출처를 표시해 주시기 바랍니다. 글의 일부만 복사해갈 경우, 글의 전체 맥락에 따라 내가 의도하는 바가 잘못 표현될 수 있으므로, 반드시 링크 등을 포함시켜 독자가 직접 의도와 맥락을 확인할 수 있도록 해 주시기 바랍니다. 복사할 때에는 반드시 Disclaimer와 License를 포함시켜 주시기 바랍니다.</p>
<h2>글쓰기 규칙</h2>
<p>제가 한 업무에 대해서는 글을 쓰지 않습니다. 심지어는 비밀특권이나 비밀보호의무에 해당하지 않는 경우라도 쓰지 않습니다. 자랑하는 것은 체질도 아니거니와, 제가 하는 일은 --- 계약이건 의견서 작성이건 소송이건 --- 고객 한 사람만을 위한 일이기 때문입니다. 다만, 고객이 요청하는 경우에는 예외입니다.</p>
<p>댓글은 없습니다. 연락은 <strong>hyunkim [at] hyunkim.lawyer</strong>로 부탁합니다.</p>
