---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div align="right"><em>{{ page.date | date: "%Y년 %-m월 %d일 작성" }}</em></div>
<br /><br />
  {{ content }}
</div>
<br /><br />
<hr />

<h2>Disclaimer (경고)</h2>
<p>첫째, 여기에서 내가 한 일 또는 법에 대해서 이야기해도 비슷한 일을 하면 비슷한 결과가 나올 것이라는 뜻은 아닙니다. 둘째, 여기에서 내가 어떤 법이나 분야에 대해서 이야기했다고 하더라도, 내가 그 분야의 전문가이거나 자격증을 가지고 있거나 인증기관으로부터 인증을 받았다는 뜻은 아닙니다. 셋째, 여기서 하는 이야기는 수시로 업데이트되며, 관련 주제에 대한 이야기의 전체가 아니고 오로지 일부분일 뿐입니다. 넷째, 달리 표시하지 않은 한 번역은 본인이 직접 하였습니다. 다른 곳에서 더 나은 번역을 찾을 수도 있습니다. 다섯째, 여기에서 하는 이야기는 법률자문이 아닙니다. 또 이곳의 이야기는 미국 변호사 이야기이고, 미국법 이야기입니다.</p>
<p>무엇보다도 여기서 읽은 이야기는 일반적인 정보이지 <strong>법률자문이 아닙니다.</strong></p>여기 정리한 내용은 미국 납세자가 미국 국세청(IRS)이 부과하는 처벌이나 벌금을 피할 목적으로 사용할 의도로 작성된 것이 아니며, 따라서 이러한 의도로 사용할 수 없으며 그렇게 사용하여서도 아니됩니다.</p>
<p><strong>이 경고는 법에 대해 이야기하는 모든 페이지에 나타납니다.</strong></p>
<h2>Circular 230 Disclaimer</h2>

<h2>License (사용)</h2>
<p>개인적 목적으로 다른 곳에 글을 복사해 가는 것은 허용합니다만, 반드시 출처를 표시해 주시기 바랍니다. 글의 일부만 복사해갈 경우, 글의 전체 맥락에 따라 내가 의도하는 바가 잘못 표현될 수 있으므로, 반드시 링크 등을 포함시켜 독자가 직접 의도와 맥락을 확인할 수 있도록 해 주시기 바랍니다. 복사할 때에는 반드시 Disclaimer와 License를 포함시켜 주시기 바랍니다.</p>
<h2>글쓰기 규칙</h2>
<p>제가 한 업무에 대해서는 글을 쓰지 않습니다. 심지어는 비밀특권이나 비밀보호의무에 해당하지 않는 경우라도 쓰지 않습니다. 자랑하는 것은 체질도 아니거니와, 제가 하는 일은 --- 계약이건 의견서 작성이건 소송이건 --- 고객 한 사람만을 위한 일이기 때문입니다. 다만, 고객이 요청하는 경우에는 예외입니다.</p>
<p>비록 로펌에서 일하지만, 회사명과 회사 이메일은 공개하지 않습니다. 회사에도 홈페이지가 있습니다. 홈페이지/블로깅에 대하여 회사와 대화를 한 적이 있었습니다. 회사 방침은 개인적으로 블로깅을 하는 것은 허용하지만, 회사 홈페이지를 사용하는 것은 안된다고 말하였습니다. 이 말을 존중합니다. 또, 어차피 제 입맛에 맞추어 다 고칠 수도 없는 바에야... 연락은 <strong>hyunkim [at] hyunkim.lawyer</strong>로 부탁합니다.</p>
